.aspirantes-convocatoria{

    padding:20px;

}

.aspirantes-convocatoria h2{

    color:#123b6d;
    margin-bottom:25px;

}

/*==============================
        BARRA SUPERIOR
==============================*/

.barra-superior{

    display:flex;
    gap:20px;
    align-items:flex-end;

}

.campo{

    display:flex;
    flex-direction:column;

}

.campo label{

    font-weight:bold;
    margin-bottom:5px;

}

/*==============================
        TABLA
==============================*/

.tabla-aspirantes{

    margin-top:20px;
    overflow-x:auto;

}