.consulta-avance-general{

    padding:20px;

}

.consulta-avance-general h2{

    color:#123b6d;
    margin-bottom:25px;

}

.barra-superior{

    display:flex;
    gap:20px;
    align-items:flex-end;

}

.campo{

    display:flex;
    flex-direction:column;

}

.campo label{

    font-weight:bold;
    margin-bottom:5px;

}

.campo select{

    width:350px;
    height:38px;
    font-size:14px;
    padding:5px;

}