.consulta-avance-general{

    padding:20px;

}

.consulta-avance-general h2{

    color:#123b6d;
    margin-bottom:25px;

}

/*==================================
        BARRA SUPERIOR
==================================*/

.barra-superior{

    display:flex;
    gap:20px;
    align-items:flex-end;

}

.campo{

    display:flex;
    flex-direction:column;

}

.campo label{

    font-weight:bold;
    margin-bottom:5px;

}

.campo select{

    width:350px;
    height:38px;
    font-size:14px;
    padding:5px;

}

/*==================================
        TABLA
==================================*/

.tabla-avance-general{

    margin-top:20px;
    overflow-x:auto;

}

.tabla-avance-general table{

    border-collapse:collapse;
    width:max-content;

}

/*==================================
        CELDAS GENERALES
==================================*/

.tabla-avance-general th,
.tabla-avance-general td{

    border:1px solid #7f7f7f;
    text-align:center;
    vertical-align: middle;
    padding-top:4px;
    padding-bottom:4px;

}

/*==================================
        PRIMERA COLUMNA
==================================*/

.col-ciudad{

    width:230px;
    min-width:230px;
    max-width:230px;

    text-align:left;

    padding-left:12px;

    border-right:3px solid #0b5d74 !important;

}

/*==================================
        RESTO DE COLUMNAS
==================================*/

.tabla-avance-general th:not(.col-ciudad),
.tabla-avance-general td:not(.col-ciudad){

    width:78px;
    min-width:78px;
    max-width:78px;

}

/*==================================
        ALTURA FILAS
==================================*/

.tabla-avance-general thead tr:first-child{

    height:42px;

}

.tabla-avance-general thead tr:nth-child(2){

    height:34px;

}

.tabla-avance-general tbody tr{

    height:36px;

}

/*==================================
        TITULOS PRINCIPALES
==================================*/

.titulo-rol,
.titulo-total{

    background:#0b5d74;
    color:#FFFFFF;

    font-size:16px;

    font-weight:bold;

    border:1px solid #FFFFFF !important;

}

/*==================================
        SUBTITULOS
==================================*/

.subtitulo{

    background:#2f7d94;
    color:#FFFFFF;

    font-size:13px;

    font-weight:bold;

    border:1px solid #FFFFFF !important;

}

/*==================================
        DATOS
==================================*/

.dato{

    font-size:20px;

    font-weight:normal;

}

/*==================================
        COLUMNA CIUDAD
==================================*/

.col-ciudad{

    font-size:20px;

    font-weight:bold;

}

/*==================================
        FILA TOTAL
==================================*/

.fila-total{

    background:#FCE4EC;      /* rosado claro */

    font-weight:bold;

}

/*==================================
        SEPARADOR ENTRE ROLES
==================================*/

.fin-rol{

    border-right:3px solid #0b5d74 !important;

}

/*==================================
        TOTALES
==================================*/

.total{

    font-weight:bold;

}

/*==================================
        color separador de primer columna y primer rol
==================================*/


.col-ciudad{

    border-right:3px solid #0b5d74 !important;

}

/*==================================
        FILA TOTAL
==================================*/

.fila-total{

    background:#D6EEF5;

    font-weight:bold;

}

.fila-total td{

    background:#D6EEF5;

    font-weight:bold;

    font-size:21px;

    vertical-align:middle;

}

.fila-total .col-ciudad{

    background:#D6EEF5;

}

/*==================================
        TOTALES
==================================*/

.total{

    font-weight:bold;

}