.btn-ver-subsanacion {

    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;
    border-radius: 10px;

    cursor: pointer;

    color: #2563EB;

    transition: all .25s ease;

}

.btn-ver-subsanacion svg {

    width: 56px;
    height: 56px;

}

.btn-ver-subsanacion:hover {

    background: #22C55E;
    color: white;
    transform: scale(1.08);

}